
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.hero {
  width: 100%;
  height: 100vh;
  background: #1d333d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  -webkit-text-stroke: 1px #fff;
  font-size: 100px;
  color: transparent;
  background-image: linear-gradient(#fff, #fff);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -750px;
  animation: backcolor 10s linear infinite alternate;
}
@keyframes backcolor {
  100% {
    background-position: 0;
  }
}
